.icon-container .fas {
  margin-bottom: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 4px;
  margin-top: -3px;
}

.fas:hover {
  cursor: pointer;
}

.icon-container {
  margin-top: 65px;
}

.list-group-item:hover {
  background-color: #f9f9f9;
}
.all-add {
  height: 35px;
  margin-bottom: 5px;
}
